.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4a2c2a;
}

.header a {
  text-decoration: none;
  color: #fdf6ec;
  font-size: 1.5rem;
  font-weight: bold;
}

.header a:hover {
  color: #fff;
}

.navigation {
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navigation li a {
  text-decoration: none;
  color: #d7b29d;
  font-size: 1rem;
}

.navigation li a:hover {
  color: #fff;
}
