.main {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 70%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 40px 16px;
}

.title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #4a2c2a;
  text-align: center;
}

.description {
  margin: 0;
  font-size: 20px;
  color: black;
  line-height: 28px;
}
